<div class="texts-wrapper">
  <div class="contents-title text-center">
    <%= image_tag 'camplet.png', :size =>'250x250' %>
    <h1 class = "mb-5">チーム名編集</h1>

    <%= render 'form', team: @team %>
    <br>
    <button type="button" class="btn btn-outline-info" style="background-color: #e3f2fd;">
      <%= link_to '詳細', @team %> 
    </button>
  </div>
</div>
