<div class="texts-wrapper">
  <div class="contents-title text-center">
    <p><%= image_tag 'camplet.png', :size =>'250x250' %></p>
    <div class="card">
      <img class="card-img" src="<%= asset_path "top.jpeg" %>" alt="Card image">
      <div class="card-img-overlay">
        <p class="card-text">家族や友人とキャンプ旅行に行く際に持っていくキャンプ道具(キャンプギア)を共有するアプリです。</p>
        <h2 class="card-text">このアプリが解決すること</h2>
        <p class="card-text">持ち物が多く管理しないと忘れてしまう。友人や家族とキャンプに行く際、持ち物が多いので共有が大変。</p>
        <p class="card-text">アプリにキャンプギアの持ち物の登録をすれば旅行する際、簡単に情報共有ができます。</p>
        <h2 class="card-text">機能一覧</h2>
        <h5 class="card-text">【キャンプギア登録機能】</h5>
        <p class="card-text">ユーザーが持ってるキャンプギアの登録・確認ができ、物が多くなっても検索ができます。</p>
        <h5 class="card-text">【旅行プラン機能】</h5>
        <p class="card-text">どこのキャンプ場に旅行するのか、チェックイン、チェックアウトの時間、持ち物リストの登録することができます。</p>
        <h5 class="card-text">【チーム内でのチャット機能】</h5>
        <p class="card-text">投稿した旅行プランにコメントができます。キャンプをするメンバーとチャットができます。</p>
        <h5 class="card-text">【持ち物リスト機能】</h5>
        <p class="card-text">用意する持ち物を自分のギアかラベルで選択し登録できます。</p>
      </div>
    </div>
  </div>
</div>