<div class="texts-wrapper">
  <div class="contents-title text-center">
    <%= image_tag 'camplet.png', :size =>'250x250' %>
    <h1  class = "mb-5">新規旅行プラン</h1>

    <%= render 'form', travel_plan: @travel_plan %>
    </br>
    <button type="button" class="btn btn-outline-info" style="background-color: #e3f2fd;">
      <%= link_to '旅行一覧', team_travel_plans_path(params[:team_id]) %>
    </button>
  </div>
</div>