<div class="texts-wrapper">
  <div class="contents-title text-center">
    <h1 class = "mt-5 mb-5">キャンプギア登録</h1>

    <%= render 'form', gear: @gear %>

    <br>
    
    <%= link_to 'キャンプギア一覧', gears_path %>
  </div>
</div>
