@import '~bootstrap/scss/bootstrap';

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

// フッターの設定
.container {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
}
footer {
  position: absolute;
  bottom: 0;
}
// 文字のフォント調整
p {
  font-family: 'Kaisei Decol', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Kiwi Maru', serif;
}
// ギアのカードデザイン
.card {
  margin: 0 auto 60px;
}
.card-body p {
  text-align: left;
}

// チェックボックスのスタイル
.boxes {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
  background: #e3e9fd;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: rgb(7, 0, 0);
  cursor: pointer;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #0835e7;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
// トップに戻るボタン
#back {
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.arrow{
  width:      70px;
  height:     70px;
}
// トップページの背景画像
// .top_background {
//   background-image: image-url("top.png");
//   background-size: cover;
//   height: 800px;
// }
// .top-body {
//   background-image: url("top.JPG");
//   background-size: 100% 100%;
//   background-color:rgba(255,255,255,0.8);
//   background-blend-mode: lighten;
// }

// .top_background {
//   background-image: url("/top.jpeg");
//   background-size: 100% 100%;
//   background-color:rgba(255,255,255,0.8);
//   background-blend-mode: lighten;
// }

// .content_area {
//   width:60%;
//   height: relative;
//   background-color:rgba(10, 10, 10, 0.8);
//   padding: 30px;
// }
